.containerLogin{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 20% 5%;
}
form{

  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;


}

button{
  width: 100px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .containerLogin{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
}
