nav {
  transition-duration: 0.3s;
  display: flex;
  flex-direction: column;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  border: none;
  height: 400px;
}

li a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

li a:hover {
  opacity: 0.5;
  transition: 0.3s;
}

li {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 25px;
  margin-top: 40px;
  width: 20%;
  text-align: center;
  text-decoration: none;

  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

ul li:nth-child(4) {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

  width: 150px;
}

ul li:nth-child(4):hover {
  background-color: #5a6e73;
  transition: 0.3s;
  cursor: pointer;
  width: 150px;
}

a:visited {
  text-decoration: none;
  color: white;
}

.menuBottomn {
  display: none;
  width: 0;
  height: 0;
}

.show {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.projectOrden {
  display: flex;
  flex-direction: column-reverse;
}

.logOutBotton {
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  display: none;
  transition: 0.5s;
}

.logOutBotton:hover {
  opacity: 0.5;
  transition: 0.5s;
  color: rgba(255, 0, 0, 0.567);
}

.navLogIsOpen {
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.5s;

  padding: 10px;
  transition: 0.5s;
}

.showLogOut {
  display: block;
  transition: 0.5s;
  color: #e9ecef;;
  margin: 0px;



  margin: auto;
}

@media screen and (max-width: 768px) {
  nav {
    height: 90px;
    transition-duration: 0.3s;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
    height: 100%;
    backdrop-filter: blur(8px); /* Aplica el desenfoque en el fondo */
    opacity: 0;
    transition: 0.3s;
    visibility: hidden;
  }

  li {
    font-family: "Raleway", sans-serif;
    color: white;
    font-size: 50px;
    width: 100%;
    text-align: center;
    padding: 20px;
  }
  .menuBottomn {
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 50px;
    padding: 4%;
    width: auto;
    height: 100%;
    display: flex;

    align-self: end;
  }

  .show {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    visibility: visible;
    transition: 0.3s;
    opacity: 1;
  }
  ul li:nth-child(4) {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 35px;
    width: 100%;
  }

  ul li:nth-child(4):hover {
    width: 100%;
  }

  .showLogOut {
    font-size: 20px;

    position: relative;
    margin: auto;
  }
}
