.containerProfile {
  margin: 2%;
}

.titleProfile{
  font-size: 40px;

  font-family: 'Raleway', sans-serif;
}

.imagenProfile {
  float: left;
  width: 40%;
  margin: 3%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.textProfile{
  
  font-family: 'Raleway', sans-serif;
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 20px;
}
.textProfileEdite{
  width: 100%;
  height: 300px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
}
.textProfileEdite:hover{
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.075);
  border: white;

}

.ContainerButton {
display: flex;
flex-direction: row;
justify-content: space-evenly;
}



